@keyframes fadeOutFast {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  60%{
    opacity: 0.6;
  }
  80%{
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
.animate-fadeOutFast {
  animation: fadeOutFast 1.5s ease-in-out;
}
